body > div {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:5px 10px;
    padding:20px;
    border-radius:10px;
}

.romeo {
    background-color:lightpink;
    float:left;
    clear:both;
    border-top-left-radius:0;
}

.romeo .tick {
    background-color:lightpink;
    width:20px;
    height:20px;
    position:relative;
    left:-40px;
    top:-20px;
}
.romeo .tick > div {
    background-color:white;
    width:20px;
    height:20px;
    border-top-right-radius:20px;
}

.juliet .tick {
    float:right;
    background-color:lightblue;
    width:20px;
    height:20px;
    position:relative;
    left:40px;
    top:-20px;
}
.juliet .tick > div {
    background-color:white;
    width:20px;
    height:20px;
    border-top-left-radius:20px;
}

.romeo .tick + div {
    margin-top:-30px;
}

.juliet .tick + div {
    margin-top:-15px;
}

.juliet {
    background-color:lightblue;
    float:right;
    clear:both;
    border-top-right-radius:0;
}